@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Inter*/
@font-face {
  font-family: 'Inter-Bold', sans-serif;
  src: url(../fonts/static/Inter-Bold.ttf);
}

@font-face {
  font-family: 'Inter-Medium', sans-serif;
  src: url(../fonts/static/Inter-Medium.ttf);
}

.inter-bold {
  font-family: 'Inter-Bold', sans-serif;
}

.inter-medium {
  font-family: 'Inter-Medium', sans-serif;
}

